{% extends "base.html" %}
{% load wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<div class="ui three column doubling stackable grid container">
  {% for product in products %}
    <div class="column">
        <div class="ui segment">
            {% image product.specific.first_image.image original as photo %}
            <img src="{{ photo.url }}" style="width: 100%; height: auto;">
        </div>    
    </div>
  {% endfor %}
  
</div>

{% endblock %}
{% block extra_js %}
{% endblock %}
