alabaster==0.7.9
appdirs==1.4.2
argh==0.26.2
args==0.1.0
arrow==0.10.0
astroid==1.4.8
Babel==2.3.4
beautifulsoup4==4.5.3
binaryornot==0.4.0
boto==2.45.0
braintree==3.33.0
bumpversion==0.5.3
chardet==2.3.0
decorator==4.0.11
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.10.5
django-appconf==1.0.2
django-compressor==2.1
django-countries==4.1
django-extensions==1.7.5
django-filter==1.0.1
django-modelcluster==3.0.1
django-storages==1.5.2
django-taggit==0.22.0
django-toolbelt==0.0.1
django-treebeard==4.1.0
django-webpack-loader==0.4.1
djangorestframework==3.5.4
future==0.16.0
gunicorn==19.6.0
imagesize==0.7.1
ipython==5.2.2
ipython-genutils==0.1.0
isort==4.2.5
Jinja2==2.9.5
jinja2-time==0.2.0
lazy-object-proxy==1.2.2
livereload==2.5.1
-e git+https://github.com/JamesRamm/longclaw.git#egg=longclaw
-e git+https://github.com/JamesRamm/wagmail.git#egg=wagmail
wagtailmath>=0.1.0
packaging==16.8
pathtools==0.1.2
pbr==1.10.0
pexpect==4.2.1
Pillow==4.0.0
pkginfo==1.4.1
pluggy==0.4.0
port-for==0.3.1
poyo==0.4.0
prompt-toolkit==1.0.13
ptyprocess==0.5.1
py==1.4.32
pycosat==0.6.1
pycrypto==2.6.1
Pygments==2.2.0
pyparsing==2.1.10
python-dateutil==2.6.0
requests==2.13.0
requests-toolbelt==0.7.0
rjsmin==1.0.12
shellescape==3.4.1
simplegeneric==0.8.1
six==1.10.0
snowballstemmer==1.2.1
static3==0.7.0
stevedore==1.20.0
tox==2.6.0
twine==1.8.1
Unidecode==0.4.20
wagtail==1.9
watchdog==0.8.3
wcwidth==0.1.7
webencodings==0.5
whichcraft==0.4.0
whitenoise==3.2.3
Willow==0.4
wrapt==1.10.8
