{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
<br/>
<div class="ui container">
    <h2>{{ page.title }}</h2>
    {{ page.intro|richtext }}
    <form  class="ui form"  action="{% pageurl page %}" method="post">
    <!--<fieldset>
        <legend>{{ title }}</legend>
        {% for field in form %}
            {% if field.errors %}
                <div class="control-group error">
                    <label class="control-label">{{ field.label }}</label> 
                    <div class="controls">{{ field }}
                        <span class="help-inline">
                            {% for error in  field.errors %}{{ error }}{% endfor %}
                        </span>
                    </div>
                </div>
            {% else %}
                <div class="control-group">
                    <label class="control-label">{{ field.label }}</label> 
                    <div class="controls">{{ field }}
                        {% if field.help_text %}
                            <p class="help-inline"><small>{{ field.help_text }}</small></p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </fieldset>-->
    {% csrf_token %}
    {{ form.as_p }}
    <div class="g-recaptcha" data-sitekey="6Ld0CSMUAAAAANSf9fZD0u8x-k83vnVm_5SaHpQv"></div>

    <button type="submit" class="ui button submit" >Submit</button>
</form>
</div>
{% endblock %}

{% block extra_js %}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}