{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% load wagtailmath %}
{% block content %}
<div class="ui fluid container">
    <div class="ui grid">
    <div class="ui four wide column">
        <div class="ui segment">
            <h4>Tags</h4>
            {% for tag in page.tags.all %}
            <a class="ui teal tag label">
                {{ tag }}
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="ui eight wide column">
        <article class="ui piled segment">
            <h1 class="ui centered header">{{page.title}}</h1>
        {% for block in page.body %}
            {% if block.block_type == 'heading' %}
                <h3 class="ui header">{{ block.value }}</h3>
            {% elif block.block_type == 'image' %}                
                {% image block.value original as photo %}
                <a href="{{photo.url}}" >
                    <img src="{{photo.url}}" class="ui medium centered bordered rounded image">
                </a>
            {% else %}
                <section class="block-{{ block.block_type }}">
                    {% include_block block %}
                </section>
            {% endif %}
        {% endfor %}
        </article>
    </div>

  <div class="ui four wide column">
    <div class="ui segment">
        <h4>Products</h4>
        {% for p in page.project_product_relationship.all %}
        {% image p.product.first_image.image width-24 as photo %}
        <a href="{% pageurl p.product %}">
        <h5 class="ui header">
            <img class="ui image" src="{{ photo.url }}">
            <div class="content">
                {{p.product.title}}
            </div>
        </h5>
        </a>
        {% endfor %}
    </div>
    <div class="ui segment">
        <h4>Schematics</h4>
        {% for schem in page.schematics.all %}
        {% if schem.schematic.image %}
        {% image schem.schematic.image original as photo %}
        <a href="{{ photo.url }}" target="_blank">
            <h5 class="ui header">
                <img class="ui mini bordered rounded image" src="{{ photo.url }}">
                <div class="content">
                    {{schem.schematic.name}}
                </div>
            </h5>
        </a>
        {% elif schem.schematic.schematic_url %}
        <a href="{{schem.schematic.schematic_url}}" target="_blank">
            <h4 class="ui header">
                <i class="external icon"></i>
                <div class="content">
                    {{schem.schematic.name}}
                </div>
            </h4>
        </a>
        {% elif schem.schematic.document %}
        <a href="{{schem.schematic.document.file}}" target="_blank">
            <h4 class="ui header">
                <i class="file text icon"></i>
                <div class="content">
                    {{schem.schematic.name}}
                </div>
            </h4>
        </a>
        {% endif %}
        {% endfor %}
    </div>
    <div class="ui segment">
        <h4>Other Links</h4>
        {% if page.octopart_bom %}
        <a href="{{page.octopart_bom}}">
            <h4 class="ui header">
                <i class="setting icon"></i>
                <div class="content">
                    BOM
                </div>
            </h4>
        </a>
        {% endif %}
    </div>
  </div>
  </div>
</div>


{% endblock %}
{% block extra_js %}
<script src="{% mathjax %}"></script>
{% endblock %}