{% extends "base.html" %}

{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap4.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap4.min.css"/>

{% endblock %}

{% block body_class %}template-productindex{% endblock %}
{% block content %}

<div class="container">
    <h1>{{ page.title }}</h1>

    <table id="schematic_table" class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Company</th>
            </tr>
        </thead>
    </table>
        
</div>


{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="{% static 'js/schematics.js' %}"></script>
{% endblock %}