{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load ramshackletags longclawcheckout_tags longclawcore_tags %}

{% block content %}
<br />
    
<form action="." method="post" class="ui form" id="checkout-form">
<div class="ui container two column grid">

    <div class="column">
        <h4>Shipping Address</h4>
        {% csrf_token %}
        {{ shipping_form.as_p }}
        {{ checkout_form.as_p }}
        <input type="hidden" id="payment-method-nonce" name="payment_method_nonce"></input>
    </div>
    <div class="column">
        <h4>Payment Details</h4>
        <div id="dropin-container"></div>
        <input type="submit" id="submit-button" value="Place Order" class="ui button submit" />
    </div>

    
</div>
    </form>
{% endblock %}

{% block extra_js %}
{% gateway_client_js as scripts %}
{% for js in scripts %}
{{ js|safe }}
{% longclaw_client_bundle %}
{{ checkout_form.media }}
<script type="text/javascript">
initShippingOption('{% longclaw_api_url_prefix %}');
var button = document.querySelector('#submit-button');

braintree.dropin.create({
    authorization: "{% gateway_token %}",
    container: '#dropin-container'
}, function (createErr, instance) {
    button.addEventListener('click', function () {
    instance.requestPaymentMethod(function (err, payload) {
        // Submit payload.nonce to your server
        $('#payment-method-nonce').val(payload.token);
        document.getElementById("checkout-form").submit();
    });
    });
});
</script>
{% endfor %}
{% endblock %}