{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static from staticfiles %}

{% block body_class %}template-productpage{% endblock %}

{% block content %}

{% csrf_token %}
<div class="ui doubling stackable grid container">
    <div class="ui breadcrumb">
        <a href="/" class="section">Home</a>
        <div class="divider"> / </div>
        <a href="/" class="section">Shop</a>
        <div class="divider"> / </div>
        <div class="active section">{{ page.title }}</div>
    </div>
    <div class="two column row">
        <div class="column">
            {% if page.images %}
                {% image page.first_image.image original as photo %}
                <div class="ui segment">
                <img src="{{ photo.url }}" alt="F76" width="100%">
                </div>
            {% endif %}
        </div>
        <div class="column">
            <h2>{{ page.title }}</h2>
            <p>{{ page.description|richtext }}</p>

            {% if page.variants.all|length > 1 %}
                <small>Select an option:</small>
                <table class="ui raised segment table">
                    <tbody>
                        {% for variant in page.variants.all %}
                        <tr>
                            <td>{{ variant.ref }}</td>
                            <td>£{{ variant.price }}</td>
                                {% if variant.stock > 0 %}
                            <td>
                                <button
                                    class="ui button"
                                    id="add-button"
                                    data-variant-id="{{ variant.id }}"
                                    onclick="Products.addBasketItem({{ variant.id }})"
                                >
                                Add
                                </button>
                            </td>
                            <td><a class="ui green label">In stock</a></td>
                                {% else %}
                                <td><button class="ui button" onclick="Products.requestProduct({{variant.id}})">Request</button></td>   
                                <td><a class="ui red label">Sold out</a></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
            {% with page.variants.first as variant %}
            {% if variant.stock > 0 %}
                <h3>£{{ variant.price }}</h3>
                <button
                    class="ui button"
                    id="add-button"
                    data-variant-id="{{ variant.id }}"
                    onclick="Products.addBasketItem({{ variant.id }})"
                >
                Add
                </button>
            {% else %}
                <h3>£{{ variant.price }} <small><a class="ui red label">Sold out</a></small></h3>
                <button class="ui button" onclick="Products.requestProduct({{variant.id}})">Request</button>
            {% endif %}
            {% endwith %}
            {% endif %}            
        </div>
    </div>
</div>
{% endblock %}
